In [6]:
import pandas as pd
import numpy as np
import pickle

In [14]:
df = pd.read_csv("exp00000/original/out-2.txt",header=None)

#df[2] = (df[2]-df[2].min())/(df[2].max()-df[2].min())*5

#df[2] = np.round(df[2],0)

In [15]:
df.describe()

                 0              1            2
count  6710.000000    6710.000000  6710.000000
mean    336.000000   15360.691505     6.938705
std     193.715236   25207.104186     1.202075
min       1.000000     178.000000     3.769335
25%     168.000000    1563.000000     6.142086
50%     336.000000    4727.000000     6.804056
75%     504.000000    9010.000000     7.541528
max     671.000000  127728.000000    13.578804

In [16]:
df.to_csv("exp00000/original/out-2.txt",sep="\t",header=None,index=False)

In [17]:
with open(".\exp00000\\result\py-eval-temp.pickle", 'rb') as file:
    result = pickle.load(file)
file.close()
result

0.9882660419430387

In [ ]:
result